//
// BRERuleEngineEventsAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire


open class BRERuleEngineEventsAPI: APIBase {
    /**
     Fire a new event, based on an existing trigger
     - parameter breEvent: (body) The BRE event object (optional)
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func sendBREEvent(breEvent: BreEvent? = nil, completion: @escaping ((_ data: String?, _ error: ErrorResponse?) -> Void)) {
        sendBREEventWithRequestBuilder(breEvent: breEvent).execute { (response, error) -> Void in
            completion(response?.body, error)
        }
    }


    /**
     Fire a new event, based on an existing trigger
     - POST /bre/events
     - Parameters within the event must match names and types from the trigger. Actual rule execution is asynchornous.  Returns request id, which will be used as the event id. <br><br><b>Permissions Needed:</b> BRE_RULE_ENGINE_EVENTS_USER
     - OAuth:
       - type: oauth2
       - name: oauth2_client_credentials_grant     - OAuth:
       - type: oauth2
       - name: oauth2_password_grant
     - examples: [{contentType=application/json, example=""}]
     - parameter breEvent: (body) The BRE event object (optional)
     - returns: RequestBuilder<String> 
     */
    open class func sendBREEventWithRequestBuilder(breEvent: BreEvent? = nil) -> RequestBuilder<String> {
        let path = "/bre/events"
        let URLString = JSAPIAPI.basePath + path
        let parameters = breEvent?.encodeToJSON() as? [String:AnyObject]

        let url = NSURLComponents(string: URLString)

        let requestBuilder: RequestBuilder<String>.Type = JSAPIAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "POST", URLString: (url?.string ?? URLString), parameters: parameters, isBody: true)
    }

}
