//
// BRERuleEngineEventsAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire



open class BRERuleEngineEventsAPI: APIBase {
    /**
     Fire a new event, based on an existing trigger
     
     - parameter breEvent: (body) The BRE event object (optional)
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func sendBREEvent(breEvent: BreEvent? = nil, completion: @escaping ((_ error: Error?) -> Void)) {
        sendBREEventWithRequestBuilder(breEvent: breEvent).execute { (response, error) -> Void in
            completion(error);
        }
    }


    /**
     Fire a new event, based on an existing trigger
     - POST /bre/events
     - Parameters within the event must match names and types from the trigger. Actual rule execution is asynchornous.
     - OAuth:
       - type: oauth2
       - name: OAuth2
     
     - parameter breEvent: (body) The BRE event object (optional)

     - returns: RequestBuilder<Void> 
     */
    open class func sendBREEventWithRequestBuilder(breEvent: BreEvent? = nil) -> RequestBuilder<Void> {
        let path = "/bre/events"
        let URLString = JSAPIAPI.basePath + path
        let parameters = breEvent?.encodeToJSON() as? [String:AnyObject]

        let url = NSURLComponents(string: URLString)


        let requestBuilder: RequestBuilder<Void>.Type = JSAPIAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "POST", URLString: (url?.string ?? URLString), parameters: parameters, isBody: true)
    }

}
