//
// PaymentsXsollaAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire


open class PaymentsXsollaAPI: APIBase {
    /**
     Create a payment token that should be used to forward the user to Xsolla so they can complete payment
     - parameter request: (body) The payment request to be sent to XSolla (optional)
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func createXsollaTokenUrl(request: XsollaPaymentRequest? = nil, completion: @escaping ((_ data: String?, _ error: ErrorResponse?) -> Void)) {
        createXsollaTokenUrlWithRequestBuilder(request: request).execute { (response, error) -> Void in
            completion(response?.body, error)
        }
    }


    /**
     Create a payment token that should be used to forward the user to Xsolla so they can complete payment
     - POST /payment/provider/xsolla/payment
     - OAuth:
       - type: oauth2
       - name: oauth2_client_credentials_grant     - OAuth:
       - type: oauth2
       - name: oauth2_password_grant
     - examples: [{contentType=application/json, example=""}]
     - parameter request: (body) The payment request to be sent to XSolla (optional)
     - returns: RequestBuilder<String> 
     */
    open class func createXsollaTokenUrlWithRequestBuilder(request: XsollaPaymentRequest? = nil) -> RequestBuilder<String> {
        let path = "/payment/provider/xsolla/payment"
        let URLString = JSAPIAPI.basePath + path
        let parameters = request?.encodeToJSON() as? [String:AnyObject]

        let url = NSURLComponents(string: URLString)

        let requestBuilder: RequestBuilder<String>.Type = JSAPIAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "POST", URLString: (url?.string ?? URLString), parameters: parameters, isBody: true)
    }

}
