//
// SocialGoogleAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire


open class SocialGoogleAPI: APIBase {
    /**
     Link google account
     - parameter googleToken: (body) The token from google (optional)
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func linkAccounts1(googleToken: GoogleToken? = nil, completion: @escaping ((_ error: ErrorResponse?) -> Void)) {
        linkAccounts1WithRequestBuilder(googleToken: googleToken).execute { (response, error) -> Void in
            completion(error)
        }
    }


    /**
     Link google account
     - POST /social/google/users
     - Links the current user account to a google account, using the acccess token from google. Can also be used to update the access token after it has expired.
     - OAuth:
       - type: oauth2
       - name: OAuth2
     - parameter googleToken: (body) The token from google (optional)
     - returns: RequestBuilder<Void> 
     */
    open class func linkAccounts1WithRequestBuilder(googleToken: GoogleToken? = nil) -> RequestBuilder<Void> {
        let path = "/social/google/users"
        let URLString = JSAPIAPI.basePath + path
        let parameters = googleToken?.encodeToJSON() as? [String:AnyObject]

        let url = NSURLComponents(string: URLString)

        let requestBuilder: RequestBuilder<Void>.Type = JSAPIAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "POST", URLString: (url?.string ?? URLString), parameters: parameters, isBody: true)
    }

}
