//
// SocialGoogleAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire



open class SocialGoogleAPI: APIBase {
    /**
     Link facebook account
     
     - parameter facebookToken: (body) The token from facebook (optional)
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func linkAccounts1(facebookToken: GoogleToken? = nil, completion: @escaping ((_ error: Error?) -> Void)) {
        linkAccounts1WithRequestBuilder(facebookToken: facebookToken).execute { (response, error) -> Void in
            completion(error);
        }
    }


    /**
     Link facebook account
     - POST /social/google/users
     - Links the current user account to a facebook account, using the acccess token from facebook. Can also be used to update the access token after it has expired.
     - OAuth:
       - type: oauth2
       - name: OAuth2
     
     - parameter facebookToken: (body) The token from facebook (optional)

     - returns: RequestBuilder<Void> 
     */
    open class func linkAccounts1WithRequestBuilder(facebookToken: GoogleToken? = nil) -> RequestBuilder<Void> {
        let path = "/social/google/users"
        let URLString = JSAPIAPI.basePath + path
        let parameters = facebookToken?.encodeToJSON() as? [String:AnyObject]

        let url = NSURLComponents(string: URLString)


        let requestBuilder: RequestBuilder<Void>.Type = JSAPIAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "POST", URLString: (url?.string ?? URLString), parameters: parameters, isBody: true)
    }

}
