//
// PaymentsOptimalAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire



open class PaymentsOptimalAPI: APIBase {
    /**
     Initiate silent post with Optimal
     
     - parameter request: (body) The payment request to initiate (optional)
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func silentPostOptimal(request: OptimalPaymentRequest? = nil, completion: @escaping ((_ data: String?,_ error: Error?) -> Void)) {
        silentPostOptimalWithRequestBuilder(request: request).execute { (response, error) -> Void in
            completion(response?.body, error);
        }
    }


    /**
     Initiate silent post with Optimal
     - POST /payment/provider/optimal/silent
     - Will return the url for a hosted payment endpoint to post to. See Optimal documentation for details.
     - OAuth:
       - type: oauth2
       - name: OAuth2
     - examples: [{contentType=application/json, example="aeiou"}]
     
     - parameter request: (body) The payment request to initiate (optional)

     - returns: RequestBuilder<String> 
     */
    open class func silentPostOptimalWithRequestBuilder(request: OptimalPaymentRequest? = nil) -> RequestBuilder<String> {
        let path = "/payment/provider/optimal/silent"
        let URLString = SwaggerClientAPI.basePath + path
        let parameters = request?.encodeToJSON() as? [String:AnyObject]

        let url = NSURLComponents(string: URLString)


        let requestBuilder: RequestBuilder<String>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "POST", URLString: (url?.string ?? URLString), parameters: parameters, isBody: true)
    }

}
